<h1><%= key %></h1>
<div>
  the <%= nested.twigs %> in her <%= nested.eggs %> plans cried <%= "tweet this".replace(nested.mamma, "for") %>
  <ul>
    <% for(var i = 0; i < nested.shouting.length; i ++){ %>
      <li><%= nested.shouting[i] %></li>
    <% } %>
</div>